.home-main{
    display: flex;
    justify-content: center;
    margin: 2rem;
    font-size: 2rem;
    color:  orangered
  }
  
.home-main button{
    margin: 1rem;
}

.calendarAndTask{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem;
}

.miniTask{
    width: 25rem;
    height: 25rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
}